.css-button{
    background-color: grey;
    color: brown;
    padding: 10px 20px;
    margin-inline: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.css-button:hover{
    background-color: whitesmoke;
}

.css-inputBox{
    height: 50px;
    width: 100px;
    margin-inline: 10px;
    text-align: center;
}
